/* html, body {
    margin: 0;
    height: 100%;
} */
  
header #header {
    box-sizing: border-box;
    position: absolute;
    height: 120px;
    left: 0px;
    top: 0px;
}
section #hero {
    display: flex;
    height: 1440px;
}
.logo img{
    bottom: 0;
    border: none;
}

#green-yellow img{
    height: fit-content;
    top: 0;
    bottom: 0;
} 
.yellow-frame {
    z-index: 1;
    padding-right: 20px;
}
.section-title h4 {
    line-height: 24px;
    letter-spacing: 0.0025em;
}
.card-text {
    line-height: 21px;
    letter-spacing: 0.0025em;
}
.number {
    background: #8CA32B;
    border-radius: 50%;
    font-size: 30px;
    background-size: 50px;
    width: 48px;
    height: 48px;
    /* color: #ffffff; */
}

.number span {
    margin-left: 15px;
    color: #ffffff;
}
.title {
    font-weight: 700;
    font-size: 22px;
    width: 88px;
    height: 28px;
    line-height: 28px;
    padding-bottom: 40px;
}
.faq-list .first-list {
    list-style: none;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}
.text {
    font-size: 16px;
    letter-spacing: 0.005em;
    line-height: 24px;
    padding-bottom: 10px;
}
.block {
    gap: 10px;
    padding: 8px 13px;
    border-bottom: 1px solid #ebebeb;
}
.support h4 {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.0025em;
}
/*How to go live styles for mobile*/ 
@media screen and (max-widt: 768px) {
    .section-title h4 {
        line-height: 21px;
        letter-spacing: 0.0025em;
    }
}
@media screen and (max-width: 768px) {
    .number {
        border-radius: 50%;
        font-size: 30px;
    }
    .number span {
        margin-right: 12px;
       text-align: center;
       font-size: 22px;
       line-height: 28px;
       font-weight: 700;
    }
}
.footer-links {
    display: flex;
}
/*Support styles for mobile*/ 
@media screen and (max-width: 768px) {
    .support h4 {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.0025em;
    }
}
/*Testimonial styles for mobile*/
@media screen and (max-width: 768px) {
    .section-title h4 {
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.0025em;
    }
}
/*Service styles for mobile*/
@media screen and (max-width: 768px) {
    .services {
        display: block;
    }
}

/*Footer styles for mobile*/ 
@media screen and (max-width: 768px) {
    .footer-links {
        display: block;
    }
    .datapex {
        padding-top: 30px;
    }
}